// 全局scss文件
$red-color: #FF0033;
$nav-height: 55px;
$little-space: 0.12rem;    // 小间距
$mid-space: 0.24rem;    // 大间距
$big-space: 0.36rem;
// 深灰色
$dark-gray: #333333;
// 浅灰色
$light-gray: #777777;
// 蓝色
$blue1: #20a4e9;
$body-bg-color: #f7f7f7;    // 页面背景颜色
$nav-height: 0.55rem;       // 导航栏高度
