.home_header_info{
    margin-bottom: 0.24rem;
    h2{
        font-family: '楷体'
    }
    p{
        text-indent: 2em;
        margin-top: 0.12rem;
        width: 3.5rem;
        font-size: 0.13rem;
        color: #aaa;
    }
}